
<!--<div class="wrapper animate__animated animate__fadeInDown">-->
<!--  <div class="section-1 pointer" [routerLink]="['/']">-->
<!--    <div class="name">-->
<!--      <i class="uil uil-rocket"></i>-->
<!--    </div>-->
<!--  </div>-->

<!--  <div class="section-2">-->
<!--    <ul class="list-menu">-->
<!--      <li class="item-menu" *ngFor="let item of links;let i = index">-->
<!--        <a [href]="item.src" target="_blank" *ngIf="item.src">-->
<!--          <span class="item-number">{{i}}.</span>-->
<!--          <span class="link">{{item.name}}</span>-->
<!--        </a>-->
<!--        <span [routerLink]="item.route" *ngIf="item.route">-->
<!--          <span class="item-number">{{i}}.</span>-->
<!--          <span class="link">{{item.name}}</span>-->
<!--        </span>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->

<!--</div>-->
