<div class="fixed-title cursor">
  <button class="draw-border btn-default not-border" [routerLink]="['/']">
      <span class="back">
        <i class="uil uil-arrow-left"></i>
      </span>
    <span>Regresar</span>
  </button>
</div>

<div #wrapper class="d-flex flex-wrap row m-0 wrapper-path ">
  <!--  <app-sidebar class="col-12 col-sm-12 col-md-6 col-lg-4"></app-sidebar>-->
  <div class="fixed-section animate__animated  animate__fadeInUp animation-2">
    <div>
      <img src="https://i.imgur.com/vhDXNnI.jpg" alt="">
    </div>
    <div class="text-path">
      <h1 class="title text-primary-span" #asTitle></h1>
      <div class="animate__animated animate__fadeInUp " #asDescription>
        Te presento tu ruta de estudio con la cual podrás concluir todos los retos de esta plataforma
      </div>
    </div>
  </div>
  <div *ngIf="wrapperResize.flag">
    <ngx-graph
      [zoomLevel]="1.2"
      [update$]="update$"
      [draggingEnabled]="false"
      [autoCenter]="true"
      [center$]="update$"
      (activate)="activate($event)"
      [panningEnabled]="true"
      class="chart-container"
      [view]="[wrapperResize.w,wrapperResize.h]"
      [links]="links"
      [nodes]="nodeLink"
      layout="dagreCluster"
    >
      <!-- FLECHA --->
      <ng-template #defsTemplate>
        <svg:marker id="arrow" viewBox="0 -5 10 10" refX="8" refY="0" markerWidth="4" markerHeight="4" orient="auto">
          <svg:path d="M0,-5L10,0L0,5" class="arrow-head"/>
        </svg:marker>
      </ng-template>

      <!--      <ng-template #clusterTemplate let-cluster>-->
      <!--        <svg:g class="node cluster">-->
      <!--          <svg:rect-->
      <!--            rx="5"-->
      <!--            ry="5"-->
      <!--            [attr.width]="cluster.dimension.width"-->
      <!--            [attr.height]="cluster.dimension.height"-->
      <!--            [attr.fill]="cluster.data.color"-->
      <!--          />-->
      <!--        </svg:g>-->
      <!--      </ng-template>-->

      <ng-template #nodeTemplate let-node>
        <svg>
          <image class="node-avatar cursor" (click)="activate(node)"  xlink:href="https://i.imgur.com/q4kTXiy.png" width="96" height="96"/>
        </svg>
      </ng-template>

      <ng-template #linkTemplate let-link>
        <svg:g class="edge">
          <svg:path class="line" stroke-width="2" marker-end="url(#arrow)"></svg:path>
          <svg:text class="edge-label" text-anchor="middle">
            <textPath
              class="text-path"
              [attr.href]="'#' + link.id"
              [style.dominant-baseline]="link.dominantBaseline"
              startOffset="50%"
            >
              {{link.label}}
            </textPath>
          </svg:text>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>

</div>

