::ng-deep {
  .wrapper-tab-group-custom {
    .mat-tab-body-content {
      overflow-y: hidden;
    }

    .mat-tab-label {
      color: var(--color-3);
      font-size: 1rem;

      .icon {
        padding: 0 .5rem;
      }
    }

    .mat-tab-label-container {
      margin-bottom: .5rem;
    }

  }

  .mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ffffffb5;
  }

  .mat-tab-nav-bar, .mat-tab-header {
    border-bottom: solid 1px transparent;
  }
}

.thankyou-zone {
  padding: 1rem 0;
}

.wrapper {
  height: 100vh;
  position: relative;
  display: grid;
  overflow-y: auto;
}


.badge-count {
  background: #dadada;
  padding: .1rem .25rem;
  width: max-content;
  border-radius: .15rem;
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: 500;
}

.truncate {
  padding: 0.15rem 0;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  width: 100%;
}


.list-tag {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: .5rem;

  .active-tag {
    border: solid 2px var(--color-3);
  }

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0.25rem 0.75rem;
    margin: 0 0.5rem 0 0;
    border: solid 2px transparent;
    background-color: #f4f4f4;
    border-radius: 0.15rem;
    font-weight: 500;
    font-size: .85rem;
  }
}

.block-member-wrap {
  height: 20rem;
  padding: 0.5rem;
  display: inline-block;
  overflow-y: hidden;
  position: relative;

  .block-repo-member {
    //background-color: red;
    width: 100%;
    height: 100%;
    padding: 0;
    //cursor: pointer;
    //opacity: .7;
    transition: all ease 150ms;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;

    &:hover {
      .member-avatar {
        filter: brightness(1.05);
      }
    }

    .member-name {
      font-weight: 500;
    }

    .member-description {
      font-size: 80%;
    }

    .member-avatar {
      transition: all ease 150ms;
      width: 135px;
      height: 135px;
      object-fit: cover;
      //filter: grayscale(0.5);
      border-radius: .15rem;
    }

    &.reverse-block {
      flex-direction: column-reverse;
    }

  }
}

.block-repo {
  height: 15rem;
  padding: .5rem;
  display: inline-block;
  overflow-y: hidden;
  position: relative;

  &.block-yt {
    height: 25rem;
  }

  .title-yt {
    font-size: 1rem !important;

    a {
      text-decoration: none;
    }
  }

  .img-yt {
    width: auto;
    height: 215px;
    object-fit: cover;
    object-position: center;
    //border: solid 2px #ffffff14;
    opacity: .95;
    transition: all ease 150ms;
  }

  &:hover {
    .img-yt {
      opacity: 1;
    }
  }


  .date {
    color: #ffffff78;
    font-size: .85rem;
  }


  .block-repo-in {
    background-color: #fcfcfc;
    width: 100%;
    height: 100%;
    padding: .5rem;
    cursor: pointer;
    //opacity: .7;
    overflow: hidden;
    transition: all ease 150ms;

    &:hover {
      transform: translate(0px, -5px);
      box-shadow: 0 5px 10px rgb(0 0 0 / 7%)
      //opacity: 1;
    }

    .left {
      width: 80%;
      flex-direction: column;
      justify-content: space-between;

      .title {
        font-size: 1.4rem;
      }

      .tag {
        span {
          font-family: 'Roboto Mono', monospace;
          //background-color: red;
          //opacity: .7;
          font-size: .8rem;
          color: var(--color-2);
          margin-right: .5rem;
          padding: .3rem;
        }
      }

      .description {
        padding: .5rem 0;
        color: var(--color-3);
        //opacity: .6;

        font-size: .85rem;
        font-weight: 500;
        //font-family: 'IBM Plex Sans', sans-serif;

        .line-clamp {
          opacity: .8;
        }

        .image-description {
          width: 130px;
          height: 90px;
          object-fit: cover;
          float: left;
          margin: .5rem .5rem .5rem 0;
        }
      }
    }

    .right {
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      align-content: center;
      font-size: 1.2rem;
      //opacity: .7;
      width: 20%;

      span {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 415px) {
  .wrapper {
    display: block;
  }

  .block-repo-member {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

}
