<div class="wrapper"
     #ps="ngxPerfectScrollbar"
     #asScroll
     (psScrollY)="listenerY($event)"
     [perfectScrollbar]="config">
  <div class=" d-flex flex-wrap">
    <mat-tab-group class="wrapper-tab-group-custom" disableRipple>
      <mat-tab >
        <ng-template mat-tab-label>
          <span class="icon"><i class="uil uil-youtube"></i></span>
          <span>Cursos</span>
        </ng-template>
        <div>
          <ul class="list-tag">

            <li (click)="showFilter(tag)"
                [ngClass]="{'active-tag':showTagName === tag}"
                class="animate__animated animate__fadeInUp animation-{{i}}" *ngFor="let tag of tags;let i = index">
              <span>{{tag}}</span>
            </li>
            <li *ngIf="showTagName" (click)="showFilter(false)"
                class="animate__animated animate__fadeInUp animation-0">
              <span><i class="uil uil-trash-alt"></i></span>
            </li>
          </ul>
        </div>
        <ng-container *ngFor="let item of youtube| sortBy : 'asc' : 'order';let i = index">
          <div class="block-repo block-yt animate__animated animate__fadeInUp animation-{{i*2}}
   col-12 col-sm-12 col-md-12 col-lg-4" (click)="goToCourse(item)" *ngIf="!showTagName || showTagName === item?.tag"
          >
            <div class="block-repo-in d-flex" >
              <div class="left d-flex w-100">
                <div class="top">
                  <div class="date">{{item.snippet.publishedAt |date}}</div>
                  <div class="description w-100">

                    <img class="img-yt" appImgBrake [src]="item?.cover" alt="">

                    <div class="badge-count">{{item?.contentDetails?.itemCount | json}} videos o más</div>
                    <div class="line-clamp">{{item.snippet.description | cleanText}}</div>


                  </div>
                </div>
                <div class="bottom">
                  <div class="title title-yt truncate">
                    {{item.snippet.title | cleanText}}
                  </div>
                  <div class="tag">
                    <!--                  <span>{{item.language}}</span>-->

                  </div>
                </div>
              </div>

            </div>
          </div>
        </ng-container>


      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <span class="icon"><i class="uil uil-github"></i></span>
          <span>Repositorio</span>
        </ng-template>
        <div class="block-repo  animate__animated animate__fadeInUp animation-{{i*2}}
   col-12 col-sm-12 col-md-12 col-lg-4" *ngFor="let item of repos;let i = index">
          <div class="block-repo-in d-flex">
            <div class="left d-flex">
              <div class="top">
                <div class="date">{{item.created_at |date}}</div>
                <div class="description">
                  <!--              <img width="80" class="image-description" src="https://i2.wp.com/academy.leewayweb.com/wp-content/uploads/2019/05/dashboard.png?fit=3251%2C1972&ssl=1" alt="">-->
                  {{item.description}}
                </div>
              </div>
              <div class="bottom">
                <div class="title">{{item.name}}</div>
                <div class="tag">
                  <span>{{item.language}}</span>

                </div>
              </div>
            </div>
            <div class="right d-flex">
              <div class="top">
                <a [href]="item.html_url" target="_blank">
                  <i class="uil uil-external-link-alt"></i>
                </a>

              </div>
              <div class="bottom">
                <span class="text">{{item.forks}} </span><i class="uil uil-code-branch"></i>
              </div>
              <div class="bottom">
                <span class="text">{{item.stargazers_count}} </span><i class="uil uil-star"></i>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab >
        <ng-template mat-tab-label>
          <span class="icon"><i class="uil uil-book-alt"></i></span>
          <span>Descubre más</span>
        </ng-template>



      </mat-tab>

      <!--        <mat-tab label="Third"> Content 3 </mat-tab>-->
    </mat-tab-group>

  </div>

</div>
