<div class="wrapper-terms">

  <div class="col-xl-6 col-lg-6 offset-xl-3 offset-lg-3 col-12 offset-0 animate__animated animate__fadeInUp ">
    <h1>Términos y condiciones</h1>
    <p>Última actualización: 11 de junio de 2021</p>
    <p>
      Por favor, lea atentamente estos términos y condiciones antes de utilizar Nuestro Servicio.</p>
    <h2>Interpretación y definiciones</h2>
    <h2>Interpretación</h2>
    <p>Las palabras cuya letra inicial aparece en mayúscula tienen el significado que se define en las siguientes
      condiciones. Las siguientes definiciones tendrán el mismo significado independientemente de que aparezcan en
      singular o en plural.
    </p>
    <h2>Definiciones</h2>
    <p>A los efectos de las presentes condiciones</p>
    <ul>
      <li>
        <p>Afiliada se refiere a una entidad que controla, es controlada por o está bajo control común con una parte,
          donde "control" significa la propiedad del 50% o más de las acciones, participaciones u otros valores con
          derecho a voto para la elección de directores u otra autoridad de gestión.
        </p>
      </li>
      <li>
        <p>Se refiere al país: España</p>
      </li>
      <li>
        <p><b>Empresa</b> (referida como "la Empresa", "Nosotros", "Nos" o "Nuestro" en este Acuerdo) se refiere a
          LEIFER MENDEZ.</p>
      </li>
      <li>
        <p><b>Dispositivo</b> se refiere a cualquier dispositivo que pueda acceder al Servicio, como un ordenador, un
          teléfono móvil o una tableta digital.</p>
      </li>
      <li>
        <p><strong>Servicio </strong> se refiere al Sitio Web.</p>
      </li>
      <li>
        <p><strong>Términos y Condiciones</strong> (también referidos como "Términos") se refiere a estos Términos y
          Condiciones que forman el acuerdo completo entre Usted y la Compañía con respecto al uso del Servicio. Este
          acuerdo de Términos y Condiciones ha sido creado con la ayuda del Generador de Términos y Condiciones.</p>
      </li>
      <li>
        <p><b>Servicio de medios sociales de terceros</b> se refiere a cualquier servicio o contenido (incluyendo datos,
          información, productos o servicios) proporcionado por un tercero que puede ser mostrado, incluido o puesto a
          disposición por el Servicio.</p>
      </li>
      <li>
        <p><b>Sitio web</b> se refiere a LEIFER MENDEZ, accesible desde <a href="https://leifermendez.github.io/"
                                                                           rel="external nofollow noopener"
                                                                           target="_blank">https://leifermendez.github.io/</a>
        </p>
      </li>
      <li>
        <p>
          <b>Usted</b> se refiere a la persona que accede o utiliza el Servicio, o a la empresa, u otra entidad legal en
          nombre de la cual dicha persona accede o utiliza el Servicio, según corresponda.</p>
      </li>
    </ul>
    <h2>Reconocimiento</h2>
    <p>Estos son los Términos y Condiciones que rigen el uso de este Servicio y el acuerdo que opera entre Usted y la
      Compañía. Estos Términos y Condiciones establecen los derechos y obligaciones de todos los usuarios en relación
      con el uso del Servicio.
      .</p>
    <p>Su acceso y uso del Servicio está condicionado a su aceptación y cumplimiento de estos Términos y Condiciones.
      Estos Términos y Condiciones se aplican a todos los visitantes, usuarios y otras personas que acceden o utilizan
      el Servicio.
    </p>
    <p>Al acceder o utilizar el Servicio, Usted acepta quedar vinculado por estos Términos y Condiciones. Si no está de
      acuerdo con alguna parte de estas Condiciones, no podrá acceder al Servicio.
    </p>
    <p>Usted declara que es mayor de 18 años. La empresa no permite que los menores de 18 años utilicen el Servicio.
    </p>
    <p>Su acceso y uso del Servicio también está condicionado a su aceptación y cumplimiento de la Política de
      Privacidad de la Empresa. Nuestra Política de Privacidad describe nuestras políticas y procedimientos sobre la
      recopilación, el uso y la divulgación de su información personal cuando utiliza la Aplicación o el Sitio Web y le
      informa sobre sus derechos de privacidad y cómo le protege la ley. Lea atentamente nuestra Política de Privacidad
      antes de utilizar nuestro Servicio.
    </p>
    <h2>Enlaces a otros sitios web</h2>
    <p>Nuestro Servicio puede contener enlaces a sitios web o servicios de terceros que no son propiedad ni están
      controlados por la Empresa.</p>
    <p>La Empresa no tiene control alguno sobre el contenido, las políticas de privacidad o las prácticas de los sitios
      web o servicios de terceros, y no asume ninguna responsabilidad al respecto. Además, usted reconoce y acepta que
      la Empresa no será responsable, directa o indirectamente, de cualquier daño o pérdida causada o supuestamente
      causada por o en relación con el uso de o la confianza en cualquier contenido, bienes o servicios disponibles en o
      a través de cualquiera de dichos sitios web o servicios.
    </p>
    <p>
      Le recomendamos encarecidamente que lea los términos y condiciones y las políticas de privacidad de los sitios web
      o servicios de terceros que visite.
    </p>
    <h2>Finalización</h2>
    <p>Podemos dar por terminado o suspender su acceso inmediatamente, sin previo aviso ni responsabilidad, por
      cualquier motivo, incluyendo, sin limitación, si usted incumple estos Términos y Condiciones.
    </p>
    <h2>Limitación de la responsabilidad</h2>
    <p>Sin perjuicio de los daños y perjuicios en los que Usted pueda incurrir, la responsabilidad total de la Empresa y
      de cualquiera de sus proveedores en virtud de cualquier disposición de estas Condiciones y su recurso exclusivo
      para todo lo anterior se limitará al importe efectivamente pagado por Usted a través del Servicio o a 100 USD si
      no ha comprado nada a través del Servicio.
    </p>
    <p>En la medida máxima permitida por la legislación aplicable, la Empresa o sus proveedores no serán responsables en
      ningún caso de ningún daño especial, incidental, indirecto o consecuente (incluidos, entre otros, los daños por
      pérdida de beneficios, pérdida de datos u otra información, por interrupción de la actividad comercial, por daños
      personales pérdida de privacidad que surjan o estén relacionados de alguna manera con el uso o la imposibilidad de
      usar el Servicio, el software de terceros y/o el hardware de terceros utilizado con el Servicio, o de cualquier
      otra manera en relación con cualquier disposición de estos Términos), incluso si la Compañía o cualquier proveedor
      ha sido advertido de la posibilidad de tales daños e incluso si el remedio no cumple con su propósito esencial.
    </p>
    <p>Algunos estados no permiten la exclusión de las garantías implícitas o la limitación de la responsabilidad por
      daños incidentales o consecuentes, lo que significa que algunas de las limitaciones anteriores pueden no ser
      aplicables. En estos estados, la responsabilidad de cada una de las partes se limitará en la mayor medida
      permitida por la ley.
      .</p>
    <h2>"Descargo de responsabilidad "TAL CUAL" y "SEGÚN DISPONIBILIDAD</h2>
    <p>El Servicio se le proporciona "TAL CUAL" y "SEGÚN DISPONIBILIDAD" y con todos los fallos y defectos sin garantía
      de ningún tipo. En la medida máxima permitida por la ley aplicable, la Compañía, en su propio nombre y en el de
      sus Afiliados y sus respectivos licenciadores y proveedores de servicios, renuncia expresamente a todas las
      garantías, ya sean expresas, implícitas, estatutarias o de otro tipo, con respecto al Servicio, incluyendo todas
      las garantías implícitas de comerciabilidad, idoneidad para un propósito particular, título y no infracción, y las
      garantías que puedan surgir del curso de la negociación, curso de ejecución, uso o práctica comercial. Sin
      limitación de lo anterior, la Compañía no ofrece ninguna garantía o compromiso, y no hace ninguna representación
      de ningún tipo de que el Servicio cumplirá con sus requisitos, logrará cualquier resultado previsto, será
      compatible o funcionará con cualquier otro software, aplicaciones, sistemas o servicios, funcionará sin
      interrupción, cumplirá con cualquier estándar de rendimiento o fiabilidad o estará libre de errores o que
      cualquier error o defecto puede o será corregido.</p>
    <p>Sin perjuicio de lo anterior, ni la empresa ni ningún proveedor de la empresa ofrece ninguna representación o
      garantía de ningún tipo, expresa o implícita (i) en cuanto al funcionamiento o la disponibilidad del Servicio, o
      la información, el contenido y los materiales o productos incluidos en el mismo; (ii) que el Servicio será
      ininterrumpido o estará libre de errores; (iii) en cuanto a la exactitud, la fiabilidad o la actualidad de
      cualquier información o contenido proporcionado a través del Servicio; o (iv) que el Servicio, sus servidores, el
      contenido o los correos electrónicos enviados desde o en nombre de la Compañía están libres de virus, scripts,
      troyanos, gusanos, malware, bombas de tiempo u otros componentes dañinos.
    </p>
    <p>Algunas jurisdicciones no permiten la exclusión de ciertos tipos de garantías o limitaciones de los derechos
      legales aplicables a un consumidor, por lo que algunas o todas las exclusiones y limitaciones anteriores pueden no
      ser aplicables a Usted. Pero en tal caso, las exclusiones y limitaciones establecidas en esta sección se aplicarán
      en la mayor medida posible según la legislación aplicable.
    </p>
    <h2>Legislación aplicable</h2>
    <p>Las leyes del País, excluyendo sus conflictos de normas legales, regirán estos Términos y Su uso del Servicio. Su
      uso de la Aplicación también puede estar sujeto a otras leyes locales, estatales, nacionales o internacionales.
    </p>
    <h2>Resolución de disputas</h2>
    <p>Si Usted tiene alguna preocupación o disputa sobre el Servicio, se compromete a intentar primero resolver la
      disputa de manera informal poniéndose en contacto con la Compañía.
    </p>
    <h2>Para los usuarios de la Unión Europea (UE)</h2>
    <p>Si Usted es un consumidor de la Unión Europea, se beneficiará de las disposiciones obligatorias de la legislación
      del país en el que resida.</p>
    <h2>Cumplimiento de la legislación de los Estados Unidos</h2>
    <p>Usted declara y garantiza que (i) no se encuentra en un país sujeto al embargo del gobierno de los Estados
      Unidos, o que ha sido designado por el gobierno de los Estados Unidos como un país de "apoyo al terrorismo", y
      (ii) no figura en ninguna lista del gobierno de los Estados Unidos de partes prohibidas o restringidas.
    </p>
    <h2>Divisibilidad y renuncia</h2>
    <h2>Divisibilidad</h2>
    <p>Si alguna de las disposiciones de estas Condiciones se considera inaplicable o inválida, dicha disposición se
      modificará e interpretará para cumplir los objetivos de dicha disposición en la mayor medida posible según la
      legislación aplicable, y el resto de las disposiciones continuarán en pleno vigor y efecto.
    </p>
    <h2>Renuncia</h2>
    <p>Salvo lo dispuesto en el presente documento, el hecho de no ejercer un derecho o de no exigir el cumplimiento de
      una obligación en virtud de estas Condiciones no afectará a la capacidad de una parte para ejercer dicho derecho o
      exigir dicho cumplimiento en cualquier momento posterior, ni la renuncia a un incumplimiento constituirá una
      renuncia a cualquier incumplimiento posterior.
    </p>
    <h2>Interpretación de las traducciones</h2>
    <p>Estos Términos y Condiciones pueden haber sido traducidos si los hemos puesto a su disposición en nuestro
      Servicio. Usted acepta que el texto original en inglés prevalecerá en caso de litigio.
    </p>
    <h2>Cambios en estas Condiciones Generales</h2>
    <p>Nos reservamos el derecho, a nuestra entera discreción, de modificar o sustituir estas condiciones en cualquier
      momento. Si una revisión es material, haremos esfuerzos razonables para proporcionar al menos 30 días de aviso
      antes de que los nuevos términos entren en vigor. Lo que constituye un cambio material se determinará a nuestra
      entera discreción.
    </p>
    <p>Al seguir accediendo o utilizando nuestro Servicio después de que esas revisiones entren en vigor, usted acepta
      quedar obligado por los términos revisados. Si no está de acuerdo con los nuevos términos, en su totalidad o en
      parte, por favor deje de usar el sitio web y el Servicio.
    </p>
    <h2>Contacto con nosotros</h2>
    <p>Si tiene alguna pregunta sobre estos Términos y Condiciones, puede ponerse en contacto con nosotros</p>
    <ul>
      <li>Email: codigoencasa@gmail.com</li>
    </ul>
  </div>

</div>
<div class="image-legal">
  <img class="img-responsive" src="../../../assets/images/image_5.png" alt="">
</div>
