<div class="wrapper-login">
  <div>
    <div class="main-text">
      <h1>Nuevas dinámicas  ¿Quieres participar?</h1>
      <h3><b>Yeah!</b> Recuerda que todo el contenido es
        <span class="cta-free" #asCTAFree></span>
        y es posible gracias a que te subscribes, compartes</h3>
    </div>
    <div class="btn-zone ">
      <a [href]="urlLoginFb" class="btn-default btn draw-border">
        <span>Continuar</span>
        <span><i class="uil uil-facebook-f"></i></span>
      </a>
    </div>
    <div class="btn-zone ">
      <button (click)="skip()" class="btn-default small opacity">
        <span>Saltar paso</span>
      </button>
    </div>
    <div class="image-center animate__animated animate__fadeInUp">
      <img src="https://i.imgur.com/vxYvZFL.png" alt="">
    </div>
  </div>
</div>
