
.fixed-title {
  position: fixed;
  top:0;
  left: 0;
  //background: red;
  padding: .5rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-end;

  button{
    align-content: center;
    align-items: center;
    display: flex;
  }

}

.wrapper-login {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  min-height: 100vh;




  .form-email {

    &.ng-touched{
      .ng-invalid{
        border:solid 2px #f72585;
      }

      .ng-valid{
        border:solid 2px #8ac926;
      }
    }

    display: flex;
    align-items: center;
    align-content: center;

    .email-input {
      border: solid 2px var(--color-3);
      padding: .45rem 0.5rem;
      font-size: 1.1rem;
      width: 250px;
    }

    .btn-default {
      .uil {
        margin: 0;
      }
    }
  }

  .main-text {
    text-align: center;

    h4, h3 {
      font-weight: 400;
    }
  }

  .btn-zone {
    padding: .5rem;
    display: flex;
    justify-content: center;
    gap: 1rem
  }

  .image-center {
    text-align: center;

    img {
      width: 500px;
    }
  }
}

.cta-free {
  font-weight: 600;
  color: var(--course-brand) !important;
}


