.wrapper {
  padding: 1rem;
}

.title {
  font-size: 4rem;
}

.sub-title {
  padding: .5rem 0;
}

.pre-title {
  padding: .5rem 0;
  color: #ffffffdb;
  font-family: 'IBM Plex Sans', sans-serif;
}

.description {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: .2px;
  color: #ffffffdb;
}

.video-wrapper {
  position: relative;

  &:before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    background-color: #0466c87a;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
}

.links{
  .block{
    height: 8rem;
    padding: .15rem;
    display: block;
    .block-in{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-size: 2rem;
      background: #ffffff0a;
    }
  }
}
