.wrapper {
  padding: 1rem;
}

.title {
  font-size: 4rem;
}

.sub-title {
  padding: .5rem 0;
}

.pre-title {
  padding: .5rem 0;
  color: #ffffffdb;
  font-family: 'IBM Plex Sans', sans-serif;
}

.description {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.8rem;
  letter-spacing: .2px;
  color: #ffffff8c;
}

.video-wrapper {
  position: relative;

  &:hover:before {
    background-color: transparent;
  }

  &:before {
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    background-color: #00296b75;
    width: 100%;
    height: 100%;
    pointer-events: none;
    transition: all ease 150ms;
  }
}

.footer-copy {
  padding: .75rem .25rem;
  text-align: center;
  font-size: .85rem;

  .icon-footer {
    padding: 0 .25rem;
  }

  a {
    color: #ffffff78;
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    font-weight: 300;
  }

}

.links {
  .block {
    height: 8rem;
    padding: .15rem;
    display: block;

    .block-in {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-content: center;
      align-items: center;
      font-size: 2rem;
      background: #ffffff0a;
    }
  }
}

iframe {
  border: solid 2px #ffffff29;
}
