/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

:root {
  --color-1: white;
  //--color-1: #00296b;
  --color-2: #1a86db;
  --color-3: #1a1a1a;
  --opacity-1: #ffffff85;
  --course-brand: #fa3254;
  --course-logo: #fa3254;
}


html, body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  height: 100%;
  color: var(--color-3);
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-1);
  text-rendering: optimizeLegibility;
}

.mat-tab-group, .mat-tab-label, .mat-tab-link, input, button {
  font-family: 'Poppins', sans-serif !important;
}

h1, h2 {
  margin: 0;
}


.p-0 {
  padding: 0 !important;
}

.text-primary {
  color: var(--course-brand) !important;
}

.text-primary-span {
  span {
    color: var(--course-brand) !important;
  }
}

.btn-default {
  cursor: pointer;
  font-weight: 500;
  border: 0;
  background-color: var(--color-1);
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: .35rem .85rem;

  &.not-border {
    border-color: transparent;
    box-shadow: 0 0 0 transparent;
  }

  &.small {
    font-size: 80%;
  }

  &.opacity {
    opacity: .7;
  }

  .uil {
    margin-left: .5rem;
    font-size: 1.4rem;
  }
}

.moveTemplate1 {
  transition: all ease 250ms;
  transform: translateX(-100%);
  position: fixed !important;
  opacity: .5;
  height: 100vh;

  .video-wrapper {
    opacity: 0 !important;
  }


}

youtube-player {
  display: block;
}

@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
  box-shadow: inset 0 0 0 $width var(--color-3);
  //color: $color;
  transition: color $duration $duration/3;
  position: relative;

  &::before,
  &::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;

    #{$vertical}: 0;
    #{$horizontal}: 0;
  }

  &::before {
    $h-side: if($horizontal == 'left', 'right', 'left');

    border-#{$vertical}-width: $width;
    border-#{$h-side}-width: $width;
  }

  &::after {
    $v-side: if($vertical == 'top', 'bottom', 'top');

    border-#{$v-side}-width: $width;
    border-#{$horizontal}-width: $width;
  }

  &:hover {
    color: var(--course-brand);

    &::before,
    &::after {
      border-color: var(--course-brand);
      transition: border-color 0s, width $duration, height $duration;
      width: 100%;
      height: 100%;
    }

    &::before {
      transition-delay: 0s, 0s, $duration;
    }

    &::after {
      transition-delay: 0s, $duration, 0s;
    }
  }
}

.draw-border {
  @include btn-border-drawing(transparent, #ffe593, 2px, bottom, right);
}

.icon-yellow {
  color: #ffb300;
}

//=== Button styling, semi-ignore
.btn {

  &:focus {
    outline: 2px dotted transparent;
  }
}


.line-clamp {
  padding: 0.15rem 0;
  text-decoration: none;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-word;
  width: 100%;
}

.font-weight {
  font-weight: 600;
}

a, a:visited, a:link {
  color: var(--color-3);
  text-decoration: none;
  //font-weight: 500;
}

a:hover {
  transition: all ease 150ms;
  color: var(--course-brand);
}

.cursor {
  cursor: pointer;
}

@for $i from 1 through 100 {
  .animation-#{$i} {
    animation-delay: #{$i /10}s;
  }
}

.m-0 {
  margin: 0 !important;
}

.ml-2 {
  margin-left: .5rem !important;
}

.mr-2 {
  margin-right: .5rem !important;
}

.m-100 {
  width: 100%;
  max-width: 100%;
}

.title {
  .type-span {
    color: var(--color-3) !important;
  }

  .cursor-span {
    color: var(--color-3) !important;
  }
}

.link-clear {
  text-decoration: none;
}

hr {
  border-color: #ffffff17;
  margin: 2rem 0;
}

.w-100 {
  width: 100% !important;
}


.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 30 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    animation: particle-animation-#{$i} 60s infinite;
    $size: random(5) + 5 + px;
    opacity: random(100)/100;
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    background: hsl(random(360), 70%, 50%);
  }
}

@media screen and (max-width: 415px) {
  .video-wrapper {
    display: none;
  }
  .block-repo-in, .block-repo {
    padding: 0 !important;
  }
  .col-12 {
    padding: .25rem;
  }
  .ps--active-y {
    overflow-y: hidden !important;
    height: 100% !important;
  }
  .wrapper-path {
    .in {
      padding: 0 !important;
    }
  }

  .animate__animated {
    animation: none !important;
  }

  .m-100, .fb_iframe_widget {
    max-width: 100% !important;
    width: 100% !important;
  }
  .fb_iframe_widget {
    pointer-events: none !important;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    //transform: scale(.75);
  }

  .video-single {
    margin: 0 !important;
    height: 250px !important;
  }

  .wrapper-video {
    height: 100% !important;
  }

  .wrapper-login {
    padding: 8rem 0;
    overflow-y: hidden;
  }

  .img-responsive {
    width: 100%;
    max-width: 100%;
  }

  .fixed-title {
    top: auto !important;
    bottom: 0 !important;
  }
}


