/* You can add global styles to this file, and also import other style files */
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

:root {
  --color-1: #0466c8;
  --color-2: #ffd500;
}

html, body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Cabin', sans-serif;
  background-color: var(--color-1);
}

h1, h2 {
  margin: 0;
}

a, a:visited, a:hover, a:link {
  color: white;
  font-weight: 500;
}

@for $i from 1 through 100 {
  .animation-#{$i} {
    animation-delay: #{$i /10}s;
  }
}

hr {
  border-color: #ffffff17;
  margin: 2rem 0;
}
