<!-- TEST -->
<div class="wrapper-test"  *ngIf="fbCta.mod === 'test'">
  <div>
    <h3>{{oAuthService?.currentUser?.name}} ¿Te atreves a realizar una prueba?</h3>
    <!--    <p>Válida los conocimientos adquiridos en una prueba rápida!</p>-->
  </div>
  <div class="wrapper-btn-test">
    <!--    <button class="draw-border btn-default" (click)="changeCta({cta:'STEP_1','mode':true})" type="button">-->
    <!--      <span>HACER TEST</span>-->
    <!--      <span><i class="uil uil-check-circle"></i></span>-->
    <!--    </button>  https://m.me/leifermendez.dev?ref=w15321139-->
    <a [href]="fbCta?.id" class="draw-border not-border btn-default" type="button">
      <span>HACER TEST</span>
      <span><i class="uil uil-favorite icon-yellow"></i></span>
    </a>
  </div>
  <div class="avatars-test">
    <div class="list-avatar" *ngFor="let a of users| slice:0:4">
      <img [src]="a?.avatar"
           alt="">
    </div>
  </div>

  <div class="small" *ngIf="users?.length">
    Otros usuarios realizaron esta prueba
  </div>

  <!--  <button (click)="loadEmbed()">Click</button>-->
  <!--  <iframe width="100%" height="300" [src]="url | safe"></iframe>-->
  <!--  Comenta <i>"info"</i> para enviarte el link de tu prueba-->
</div>
<!-- FACEBOOK ----->
<div class="loading-block" *ngIf="fbCta.mod === 'posts'">

  <a target="_blank" [href]="fbCta.id">
    <div class="wrapper-post-fb">
      <fb-post class="fb_post" [attr.width]="isDesktop ? '500px' : '350px'"
               [attr.href]="fbCta.id"></fb-post>
    </div>
  </a>
</div>
<!--&ndash;&gt; {{fbCta | json}}-->
<div class="loading-block" *ngIf="fbCta.mod === 'videos'">
  <fb-video [attr.href]="fbCta.id"
            [attr.width]="isDesktop ? '500px' : '350px'"
            (paused)="onVideoEvent('paused')"
            (finishedPlaying)="onVideoEvent('finishedPlaying')"
            (startedBuffering)="onVideoEvent('startedBuffering')"
            (finishedBuffering)="onVideoEvent('finishedBuffering')"
            (error)="onVideoEvent('error')"
  ></fb-video>
</div>
<!-- FORM -->
<div class="wrapper-test"  *ngIf="fbCta.mod === 'form'">
  <div>
    <h3>{{oAuthService?.currentUser?.name}} ¿Te atreves a realizar una cuestionario?</h3>
    <!--    <p>Válida los conocimientos adquiridos en una prueba rápida!</p>-->
  </div>
  <div class="wrapper-btn-test">
    <!--    <button class="draw-border btn-default" (click)="changeCta({cta:'STEP_1','mode':true})" type="button">-->
    <!--      <span>HACER TEST</span>-->
    <!--      <span><i class="uil uil-check-circle"></i></span>-->
    <!--    </button>  https://m.me/leifermendez.dev?ref=w15321139-->
    <a target="_blank" [href]="fbCta?.id" class="draw-border not-border btn-default" type="button">
      <span>HACER CUESTIONARIO</span>
      <span><i class="uil uil-check-square icon-yellow"></i></span>
    </a>
  </div>

  <!--  <button (click)="loadEmbed()">Click</button>-->
  <!--  <iframe width="100%" height="300" [src]="url | safe"></iframe>-->
  <!--  Comenta <i>"info"</i> para enviarte el link de tu prueba-->
</div>
