<div class="wrapper-video">
  <div class="fixed-title cursor">
    <button class="draw-border btn-default not-border" [routerLink]="['/','course',courseId]">
      <span class="back">
        <i class="uil uil-arrow-left"></i>
      </span>
      <span>Regresar</span>
    </button>

  </div>
  <div #asVideoSingle class="video-single">
    <div class="overlay-video" [ngClass]="{'play':(state!=0)}">
      <div>
        <i class="uil uil-play-circle"></i>
      </div>

    </div>
    <youtube-player *ngIf="videoDimensions && videoId"
                    [videoId]="videoId"
                    [width]="videoDimensions.w"
                    [height]="videoDimensions.h"
                    [playerVars]="videoOptions"
                    (ready)="savePlayer($event)"
                    (change)="onStateChange($event)"
    ></youtube-player>
  </div>
</div>
